html,body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  overflow: hidden;
  background: transparent;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'italic';
  src: url('fontes/Montserrat-MediumItalic.ttf');
}

@font-face {
  font-family: 'Fino';
  src: url('fontes/Montserrat-Thin.ttf');
}

@font-face {
  font-family: 'Grosso';
  src: url('fontes/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'Grossoi';
  src: url('fontes/Montserrat-BoldItalic.ttf');
}

@font-face {
  font-family: 'Normal';
  src: url('fontes/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'italic';
  src: url('fontes/Montserrat-Italic.ttf');
}

* {
  overflow: hidden;
  user-select: none;
  box-sizing: border-box;
}

#score {
  display: none;
  position: absolute;
  margin-top: 516px;
  margin-left: 540px;
}

#displayRunners {
  right: 1510px;
  bottom: 36vw;
  display: none;
  color: #939393;
  line-height: 30px;
  text-align: right;
  position: absolute !important;
}

#displayRunners s {
  width: 120px;
  float: right;
  color: #ffffff;
  font-size: 12px;
  text-align: right;
  text-decoration: none;
  margin-top: -31px;
  margin-right: 96px;
  font-family: 'Grosso';
  text-transform: uppercase;
  letter-spacing: .2rem;
}

#raceContent {
  right: 0;
  width: 345px;
  bottom: 320px;
  display: none;
  color: #c6c6c6;
  line-height: 30px;
  letter-spacing: 1px;
  text-shadow: 1px 1px #000;
  background: rgba(0, 0, 0, 0.5);
  border-top-left-radius: 5px;
  padding: 15px 15px 15px 10px;
  position: absolute !important;
  border-bottom-left-radius: 5px;
}

#raceLine {
  float: left;
}

#score2 {
  display: none;
  position: absolute;
  margin-top: 200px;
  margin-left: 540px;
  width: 839px;
  height: 431px;
}

.back {
  border-width: 1px;
  border-color: #ba250d26;
  border-style: solid;
  border-radius: 10px;
  background-color: rgb(18, 18, 18);
  opacity: 0.941;
  position: absolute;
  width: 828px;
  height: 315px;
  z-index: -3;
}

.backc {
  border-width: 1px;
  border-color: #ba250d26;
  border-style: solid;
  border-radius: 10px;
  background-color: rgb(18, 18, 18);
  opacity: 0.941;
  position: absolute;
  width: 249px;
  height: 31px;
  z-index: -3;
}

.pose {
  color: #ffffff;
  font-size: 25px;
  font-family: 'Grosso';
  text-transform: uppercase;
  letter-spacing: .2rem;
  margin-top: 68px;
  margin-left: 291px;
}

.numero {
  color: #ba250d26;
  font-size: 170px;
  font-family: 'Grosso';
  margin-left: 368px;
}

#pessoa {
  background: #121212;
  padding: 10px 10px 10px 10px;
  border-width: 1px;
  border-color: #ba250d26;
  border-style: solid;
  border-radius: 10px;
  background-color: #121212;
  opacity: 0.941;
  width: 829px;
  height: 37px;
  z-index: 8;
  margin-left: 0px;
  margin-top: 2px;
}

.nome {
  color: #ffffff;
  font-size: 13px;
  font-family: Grosso;
  text-transform: uppercase;
  letter-spacing: .2rem;
}

.id {
  color: #ffffff;
  margin-left: 666px;
  margin-top: -16px;
  font-size: 13px;
  font-family: Grosso;
  text-transform: uppercase;
  letter-spacing: .2rem;
  position: relative;
}

.sec {
  color: #ffffff;
  margin-left: 753px;
  margin-top: -16px;
  font-size: 13px;
  font-family: Grosso;
  text-transform: uppercase;
  letter-spacing: .2rem;
}

.check {
  margin-right: 205px;
  margin-left: 13px;
  margin-top: 1px;
  font-size: 12px;
  font-family: 'Grosso';
  text-transform: uppercase;
  letter-spacing: .2rem;
  color: fff;
}

.backc2 {
  border-width: 1px;
  border-color: #ba250d26;
  border-style: solid;
  border-radius: 10px;
  background-color: rgb(18, 18, 18);
  opacity: 0.941;
  position: absolute;
  width: 249px;
  height: 31px;
  z-index: -3;
  margin-top: 6px;
}

.check2 {
  margin-right: 262px;
  margin-left: 13px;
  margin-top: 7px;
  font-size: 12px;
  font-family: 'Grosso';
  text-transform: uppercase;
  letter-spacing: .2rem;
  color: fff;
}